/* src/App.css */
.App {
  text-align: center;
  padding: 20px;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
  width: 90%;
}

th, td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

thead {
  background-color: #f2f2f2;
}
